/*variables */
:root{
    --shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    --color1: #635985;
    --color2: #443C68;
    --color3: #393053;
    --color4: #18122B;
    }
body > div {
    padding: 0;
    margin: 0;
}


#header {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--color4);
    color: white;
    justify-content: space-between;
}

#sidebar {
    background-color: var(--color3);
}

#sidebar > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#sidebar > ul > li:hover {
    color: white;
    cursor: pointer;
}

#main {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: grey;
}

#projectTitle {
    text-align: center;
}


#newImgDiv {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#todoForm {
    display: flex;
    flex-direction: column;
} 

#newToDoButton, #dialogCloseBtn, #dialogSubmitBtn, #newProjectButton, #minimizeIcon {
    cursor: pointer;
}

#newToDoButton:hover, #dialogCloseBtn:hover, #dialogSubmitBtn:hover, #newProjectButton:hover, #minimizeIcon:hover {
    background-color: white;
}

#newToDoButton {
    height: 3vh;
    margin-right: 1rem;
}

#mainTitleDiv {
    background-color: var(--color2);
}

#mainTitleDiv > h3{
    margin: 0;
    padding-top: 1rem;
    
}

#mainContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--color1);
}

.todoContainer {
    border: 1px solid black;
    text-align: center;
    padding: 2rem;
    box-shadow: var(--shadow);
}

.todoContainer:hover {
    border-color: white;
    cursor: pointer;
}

#expandedToDo {
    border: 1px solid black;
}

#minimizeDiv {
    display: flex;
    justify-content: end;
}

#sidebarTitle > p {
    margin: 0;
}

#projectsList {
    margin: 0;
}

#projectForm {
    display: flex;
    flex-direction: column;
}

#projectFormTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#duetext {
    margin: 1rem 0 0 0;   
}

.slidecontainer {
    margin: 1rem 0 1rem 0;
}

.slidecontainer > p {
    margin: 0;
}

#formTitle {
    display: flex;
    justify-content: space-between;
}

#titleInput {
    margin-bottom: 1rem;
}
